.filterBar {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  background-color: #307672;
  padding: 10px;
  border-radius: 10px;
}

.myInput {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  background: #E4EDDB;
  border-radius: 10px;
  margin-bottom: 10px;
}


.selector {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  padding: 10px;
  border-radius: 10px;
  background: #E4EDDB;
  border: none;
  outline: none;
}