/* Breadcrumbs.module.css */

.breadcrumb {
  display: flex;
  position: absolute;
  align-items: center;
  list-style: none;
  padding: 1%;
  margin: 1%;
}

.breadcrumbItem {
  display: inline-block;
  align-items: center;
}

.separator {
  margin: 0 5px; /* Adjust the margin as needed */
  font-size: 30px;
}

.breadcrumbItem.active {
  color: #307773; /* Color of the active breadcrumb item */

}
