.navbar {
  background-color: #307773;
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.collapse {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.navLink {
  color: #E4EDDB;
  margin-left: 25px;
  white-space: nowrap;
}

.logout:hover {
  background: #1A3C40;
  border-radius: 20px;
  transition: 0.3s;
}

.someText {
  align-items: center;
  color: #E4EDDB;
  margin-left: 25px;
  white-space: nowrap;
}

.logout {
  border: none;
  outline: none;
  background: #307672;
  color: #E4EDDB;
  cursor: pointer;
  border-radius: 10px;
  border: solid;
  transition: 0.3s;
  margin-left: 25px;
  white-space: nowrap;
  padding: 7px;
}

.disabledLink {
  color: #888;
  cursor: not-allowed;
  pointer-events: none;
}

.profile {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 25px;
}

.authorized {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enter {
  margin-left: 25px;
}